.button {
  padding-top: 8px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
  min-width: 120px;
  cursor: pointer;
  color: var(--c-white);
  border-radius: var(--radius);

  &_blue {
    background-color: var(--c-dodger-blue);
    border: 1px solid var(--c-dodger-blue);

    &:hover:enabled {
      background-color: var(--c-navy-blue);
      border: 1px solid var(--c-navy-blue);
    }
  }

  &_grey {
    background-color: var(--c-raven);
    border: 1px solid var(--c-raven);

    &:hover:enabled {
      background-color: var(--c-shuttle-grey);
      border: 1px solid var(--c-shuttle-grey);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
