.message {
  width: 300px;
  min-height: 100px;
  border-radius: var(--radius);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}

.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  color: var(--c-white);
  background-color: var(--c-raven);
  border: 1px solid var(--c-raven);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.text {
  padding: 5px;
  word-break: break-all;
}
